@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    color: white;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 3.5rem;
    font-weight: 700;
    color: #f44834;
    margin-top: 50px;
}

ul {
    line-height: 3.5rem;
}

ul li {
    margin-left: -40px;
    list-style: none;
}

ul li a {
    font-size: 2rem;
    color: #5cdb95;
    text-decoration: none;
    font-weight: 400;
}

footer {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 1.3rem;
    height: 50px;
    width: 100%;
    font-weight: 300;
}

footer a {
    color: #f44834;
}


/* 
Color Palettes {
    Simon #f44834
    Dark  #edf5e1
    light #8ee4af
    brown #907163
    light #379683
    green #5cdb95
}
*/